<h1>Author</h1>
<table class="table">
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Age</th>
		<th>Description</th>
	</tr>
	<tr>
		<td><%= @author.f_name %></td>
		<td><%= @author.l_name %></td>
		<td><%= @author.email %></td>
		<td><%= @author.age %></td>
		<td><%= @author.description %></td>
	</tr>
</table>