<%= provide(:title, @title) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<%= gravatar_for @author %>
			<h1><%= @author.name %></h1>
			<span><%= link_to "view my profile", @author %></span>
			<span><b>Gossips:</b> <%= @author.gossips.count %></span>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
			<% if @authors.any? %>
				<div class="author_avatars">
					<% @authors.each do |author| %>
						<%= link_to gravatar_for(author, size: 30), author %>
					<% end %>
				</div>
			<% end %>
		</section>
	</aside>
	<div class="col-md-8">
		<h3><%= @title %></h3>
		<% if @authors.any? %>
			<ul class="authors follow">
				<%= render @authors %>
			</ul>
			<%= will_paginate %>
		<% end %>
	</div>
</div>