<%= provide(:title, "#{@author.name} ") %>

<div class="row">
	<aside class="col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @author %>
				<%= @author.name %>
			</h1>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="col-md-8">
		<%= render 'follow_form' if logged_in? %>
		<% if @author.gossips.any? %>
		<h3>Gossips(<%= @author.gossips.count %>)</h3>
			<ol class="gossips">
				<%= render @gossips %>
			</ol>
			<div class="digg_pagination">
				<%= will_paginate @gossips %>	
			</div>
		<% end %>
	</div>
</div>