<%= form_for @gossip, class: "form-group" do |f| %>
	<% form_authenticity_token %>
	<div class="row">
		<div class="col-2">
			Category
			<%= f.select('tag_id', options_for_select(@tags.map {|t| [t.name, t.id]}), {}, { class: "form-control" }) %>
		</div>
		<div class="col-2">
			Title
			<%= f.text_field 'title', class: "form-control" %>
		</div>
		<div class="col-6">
			Body
			<%= f.text_field 'body', class: "form-control" %>
		</div>
		<div class="col-2">
			<br>
			<%= f.submit nil, class: "btn btn-outline-primary" %>
		</div>
	</div>
<% end %>