<div class="container">
	<div class="col-wrapper">
		<div class="row cols-xs-space cols-sm-space cols-md-space">	
			<% @gossips.each do |gossip| %>
				<div class="card m-1 text-center" style="width: 18rem;">
				  <div class="card-body">
				  	<!-- need counter_cache -->
				  	<span class="badge badge-primary"><%= gossip.comments.size %> comments</span>
						<span class="badge badge-danger"><%= gossip.likes.size %> likes</span>
						<% @tags.map do |tag| %>
							<% if gossip.tag_id == tag.id %>
								<span class="badge badge-dark"><%= tag.name %></span>
							<% end %>
						<% end %>
				    <h2 class="card-title"><%= gossip.title %></h2>
				    <%= link_to "Show", gossip_path(gossip), class: "btn btn-primary btn-lg btn-block" %>
				  </div>
				</div>
			<% end %>
		</div>
	</div>
</div>