<h1><%= @gossip.title %></h1><span class="badge badge-dark"><%= @tag.name %></span>

<p class="text-muted">

	<%= @gossip.body %>
	<% if current_user == @gossip.author %>
		<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_gossip_path(@gossip) %>
		<%= link_to '<i class="fa fa-trash"></i>'.html_safe, gossip_path(@gossip), method: :delete, data: { confirm: "Are you sure ?" } %>
	<% end %>
</p>
<p>by:
	<strong><%= @gossip.author.l_name %></strong>
	<%= link_to '<i class="fa fa-eye"></i>'.html_safe, profile_path(@gossip.author_id) %>
</p>

<% if !@gossip.author.city.nil? %>
	<p>City:
		<%= @gossip.author.city.name %>
		<%= link_to '<i class="fa fa-eye"></i>'.html_safe, city_path(@gossip.author.city_id) %>
	</p>
<% end %>

<div class="row ml-1 mb-4">
	<%= button_to gossip_likes_path(@gossip), class: "btn btn-primary" do %>
		<i class="fa fa-thumbs-up"></i>
	<% end %>
	<% if @gossip.likes.size > 0 %>
		<%= button_to gossip_like_path(@gossip, @gossip.likes), method: :delete, class: "btn btn-danger" do %>
			<i class="fa fa-thumbs-down"></i>
		<% end %>
	<% end %>
</div>

<h3>Comments</h3>
<%= form_tag "/gossips/#{@gossip.id}/comments" do %>
	<% form_authenticity_token %>
	<%= text_field_tag 'body', nil, placeholder: 'something to say ?' %>
	<%= button_tag do %>
		<i class="fa fa-comment"></i>
	<% end %>
<% end %>
<hr>
<% @comments.each do |comment| %>
	<p>
		<strong><%= comment.author.f_name %>:</strong>
		<%= comment.body %>
		<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_gossip_comment_path(@gossip.id, comment.id) %>
		<%= link_to '<i class="fa fa-trash"></i>'.html_safe, gossip_comment_path(@gossip.id, comment.id), method: :delete, data: { confirm: "Are you sure ?" } %>
	</p>

	<% comment.comments.each do |inner_comment| %>
		<p class="ml-3">
			<strong><%= inner_comment.author.f_name %>:</strong>
			<%= inner_comment.body %>
			<%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_comment_comment_path(comment.id, inner_comment.id, gossip_id: @gossip) %>
			<%= link_to '<i class="fa fa-trash"></i>'.html_safe, comment_comment_path(comment.id, inner_comment.id, gossip_id: @gossip.id), method: :delete, data: { confirm: "Are you sure ?" } %>
		</p>
	<% end %>

	<%= form_tag "/comments/#{comment.id}/comments", class: 'ml-3' do %>
		<%= hidden_field_tag 'gossip_id', @gossip.id %>
		<% form_authenticity_token %>
		<%= text_field_tag 'body', nil, placeholder: 'want to reply ?' %>
		<%= button_tag do %>
			<i class="fa fa-comments"></i>
		<% end %>
	<% end %>

	<hr>
<% end %>
