<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "HOME", gossips_path, class: "navbar-brand"%>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "team", teams_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "contact", contacts_path, class: "nav-link" %>  
          </li>
          <li class="nav-item">
            <%= link_to "create gossip", new_gossip_path, class: "nav-link" %>  
          </li>
          
          <li class="nav-item">
            <%= link_to "New account", new_author_path, class: "nav-link" %>  
          </li>
          <li class="nav-item">
            <%= link_to "Log In", new_session_path, class: "nav-link" %>  
          </li>
          
          <li class="nav-item">
            <%= link_to "Log Out", session_path(session.id), method: :delete, class: "nav-link" %>  
          </li>
          <li class="nav-item">
            <%= link_to "conversations", conversations_path, class: "nav-link" %>  
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of Nav -->

    <!-- Flash messages -->
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>"><%= message %></div>
    <% end %>
    <!-- End of Flash messages -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

